<footer>
    <div>
        <nav>
            {% render 'navigation/footer' with collections.footer as footer %}
        </nav>
        <p>&copy; 2024 Company Name. All rights reserved.</p>
    </div>
</footer>