/*---- Grid layout ----*/

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body>*>* {
  max-width: 100ch;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  #main-content>div {
    display: flex;
    gap: 2rem;
  }
  
  aside {
    flex-grow: 1
  }

  main {
    flex-grow: 3;
  }

}
